body{
    background-image: url(../image/fundo.png);
}

.container {
    background: rgb(31, 217, 228, 20%);

    min-width: 360px;
    max-width: 360px;
    min-height: 670px;
    max-height: 670px;

    transform: translate(4%, 3%);
    border-radius: 7px;

}

.containerButton {
    background-color: aliceblue;

    max-height: 45px;
    max-width: 340px;

    transform: translate(2%, 25%);
    margin-top: 7px;

    border-radius: 5px;
}

.slides {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.condImg {
    max-width: 80px;
    max-height: 80px;
    left: 42px;
    top: 98px;

    transform: translate(2%, 25%);
    margin-top: 7px;

    border-radius: 5px;
}